.header__section--primary {
    width: $main_size-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 129px;
    .header__section__item {
        width: 45%;
        .header__section__item__header {
            @include fonts(4.0625rem, 600, 70px);
        }
        .header__section__item__text {
            margin: 50px 0;
            @include fonts(1.5625rem, 400, 35px);
        }
        
        .header__section__btn {
            display: flex;
            align-items: center;
            gap: 0 10px;
            .header__section__link--mod {
                @include btn;
            }
            .header__section__link {
                @include btn;
                background-color: $white;
                border: 1px solid rgba(0, 0, 0, 0.50);
                padding: 20px 0;
                color: $black;
            }
        }
        .header__section__item__text--mod {
            display: block;
            margin-top: 25px;
            @include fonts(0.9375rem, 400, 25px);
        }
    }
    .header__section__container {
        width: 55%;
        .header__section__container__img {
            display: block;
            width: 100%;
        }
    }
}