.header__section {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 0 15%;
    border-bottom: 1px solid $white--mod;
    .header__section__container {
        display: flex;
        align-items: center;
        padding: 34px 0;
        gap: 0 50px;
        .header__section__container__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0 50px;
            .header__nav__list {
                .header__nav__link {
                    color: $black;
                    font-size: 0.9375rem;
                }
            }
        }
    }
    .header__section__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        .header__section__link {
            @include btn;
            width: 120px;
            border: 1px solid rgba(0, 0, 0, 0.50);
            padding: 13px 0;
            color: $black;
            background-color: $white;
        }
        .header__section__link--mod {
            @include btn;
            width: 120px;
            padding: 14px 0;
        }
    }
}