.main__section--wrapp--mod {
    padding: 85px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DABC98;
    .main__section--wrapp--mod__container {
        display: flex;
        align-items: center;
        gap: 0 67px;
        .main__section--wrapp--mod__container__heading {
            @include fonts(2.1875rem, 600, 50px);
        }
        .main__section--wrapp--mod__container__item {
            padding: 25px 0;
            .main__section--wrapp--mod__container__item__img {
                display: block;
                padding: 15px 0;
            }
            .main__section--wrapp--mod__container__item__text {
                display: block;
                @include fonts(0.9375rem, 400, 1px);
                text-transform: uppercase;
            }
        }
        &:nth-child(2) {
            border-left: 1px solid $black;
            padding-left: 70px;
        }
    }
}