.main__section--spec {
    padding-bottom: 187px;
    .main__section__heading {
        @include fonts(3.125rem, 600, 60px);
        text-align: center;
        padding: 154px 0 75px;
    }
    .main__section--spec__wrapp {
        width: $main_size-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .main__section--spec__container {
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px;
            .main__section--spec__container__img {
                height: 201px;
                display: flex;
                align-items: center;
                .main__section--spec__container__img__item {
                    display: block;
                }
            }
            .main__section--spec__container__heading {
                @include fonts(1.875rem, 600, 40px);
            }
            .main__section--spec__container__text {
                @include fonts(1.25rem, 400, 30px);
            }
            .main__section--spec__container__link {
                @include fonts(1.25rem, 400, 30px);
                text-decoration: underline;
                color: $black;
            }
        }
    }
}