.main__section--about {
    background-color: #C9E8F2;
    display: flex;
    padding: 0 75px;
    .main__section--about__container {
        .main__section--about__container__text {

        }
        .main__section--about__container__element {
            display: block;
        }
        .main__section--about__container__img {

        }
    }
    .main__section--about__img {
        .main__section--about__img__item {

        }
    }
}