.main__section {
    width: 69%;
    margin: 90px auto 150px;
    .main__section__container {
        display: flex;
        align-items: center;
        gap: 137px;
        margin:100px 0 150px;
        .main__sc__item {
            width: 50%;
            .main__section__container__item__heading {
                font-size: 50px;
                font-weight: 600;
                line-height: 60px;
            }
            .main__section__container__item__text {
                padding: 30px 0;
                font-size: 20px;
                line-height: 30px;
            }
            .main__section__container__item__link {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                color: #000;
            }
        }
        .main__sc__img {
            text-align: center;
            width: 50%;
        }
    }
}