.main__section--logo {
    width: 100%;
    padding: 0 15%;
    margin-top: 172px;
    background-color: #FF9C7D;
    .main__section--logo__heading {
        padding-top: 98px;
        padding-bottom: 70px;
        text-align: center;
        @include fonts(3.125rem, 600, 60px);
    }
    .main__section--logo__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7%;
        .main__section--logo__img__item {
            padding-bottom: 94px;
        }
    }
}