.main__section--about {
    background-color: #C9E8F2;
    display: flex;
    padding: 0 75px;
    .main__section--about__container {
        p {

        }
        span {
            display: block;
        }
        img {

        }
    }
    .main__section--about__img {
        img {

        }
    }
}